html {
  --bg: #FCFCFC;
  --bg-input: #FCFCFC;
  --bg-panel: #EBEBEB;
  --bg-shadow: #000;
  --color-text: #333333;
  --color-button: #6c757d;
  --color-button-hover: #6c757d;
  --color-border-success: #40ff8c;
  --color-border-success-dark: #00ff66;
  --color-border-clear: #ff4444;
  --color-border-clear-dark: #ff0000;
}

body {
  background-color: #fcfcfc;
}

.card,
.card-input {
  background-color: #ebebeb;
}

.modal-content {
  background-color: #ebebeb;
}

p,
label,
legend,
h1,
h4,
h5,
hr,
th,
td,
a,
:placeholder-shown {
  color:  rgb(97, 92, 92);
}

span {
  text-align: center;
  color: rgb(250, 42, 42);
}

hr {
  background:  rgb(97, 92, 92);
}

a {
  color:  rgb(97, 92, 92);
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  display: grid;
  text-align: center;
}

a:hover {
  color:  rgb(97, 92, 92);
  text-decoration: none;
  text-shadow: 2px 2px 5px  rgb(97, 92, 92);
}

.card-input {
  background-color: rgb(225, 225, 225);
}

.card-cadastro {
  height: 100%;
}

.btnVoltar {
  background: rgb(225, 225, 225);
  align-items: center;
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  color:  rgb(97, 92, 92);
}

.btnVoltar:hover {
  border: solid 2px red;
  background: rgb(225, 225, 225);
  color:  rgb(97, 92, 92);
}

.btnPublicar {
  background: rgb(225, 225, 225);
  align-items: center;
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  color:  rgb(97, 92, 92);
}

.btnPublicar:hover {
  border: solid 2px rgb(80, 214, 80);
  background: rgb(225, 225, 225);
  color:  rgb(97, 92, 92);
}

.btnExcluir {
  background: rgb(225, 225, 225);
  align-items: center;
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  color:  rgb(97, 92, 92);
}

.btnExcluir:hover {
  border: solid 2px rgb(250, 42, 42);
  background: rgb(225, 225, 225);
  color:  rgb(97, 92, 92);
}
